<html>

<head>

    <button onclick="load()"></div>
        Click if not automatically opening the page.
    </button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script>
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        const link = urlParams.get('link')

        let x = 0;

        function load() {
            if (link == null) {
                window.location.replace('https://github.com/dev-nolant')
            } else {
                if (x < 1) {
                    window.open(link);
                    window.history.back();
                    x += 1;
                };
            };
        };
    </script>
</head>

</body>

</html>
